.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.category {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  color: #000;
  margin-top: 20px;
  border-radius: 3px;
  font-weight: bold;
}

.sub-category {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  color: #000;
  border-radius: 3px;
  margin: auto;
  margin-top: 10px;
  font-weight: bold;
}

.content-buttons {
  width: 30%;
}

.content-title {
  width: 70%;
}

.content-subcategories {
  width: 350px;
  max-height: 150px;
  background-color: rgba(62, 67, 75, 0.9);
  margin-left: 10px;
  margin-top: 10px;
  overflow: auto;
}
